[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Test repository for data analytics
[access "refs/*"]
	owner = group user/ds3330
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ds3330
	label-Verified = -1..+1 group user/ds3330
	push = group user/ds3330
	read = group user/ds3330
	rebase = group user/ds3330
	removeReviewer = group user/ds3330
	submit = group user/ds3330
[access "refs/heads/*"]
	create = group user/ds3330
	push = +force group user/ds3330
	pushMerge = group user/ds3330
	read = group user/ds3330
[access "refs/tags/*"]
	push = group user/ds3330
	push = +force group user/ds3330
